*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    margin: 0;
    padding: 0;
}
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

img
{
    border: none;
}
textarea
{
    overflow: auto;
}
input,
textarea,
input:active,
textarea:active
{
         outline: none transparent !important;
    box-shadow: none;

    -moz-outline: none !important;
}
input[type=submit],
button[type=submit]
{
    -webkit-border-radius: 0;

    -webkit-appearance: none;
}
:focus
{
    outline: none;
}

/*---------------
    Main styles
---------------*/
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.right
{
    float: right;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
    background: #fff;

    -webkit-text-size-adjust: 100%;
}

.wrap
{
    overflow: hidden;
}


.error_page
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    padding: 15px;

    text-align: center;

    transform: translate(-50%, -50%);
}

.error_page .img
{
    display: block;

    max-width: 90%;

    margin: 0 auto 25px;
}

.error_page .title
{
    color: #282828;
    font: 300 30px Ubuntu;

    margin-bottom: 20px;
}

.error_page .desc
{
    color: #878787;
    font: 300 24px Ubuntu;
}

.error_page .socials
{
    color: #414141;
    font: 300 18px/24px Ubuntu;

    margin-top: 40px;

    background: url(../images/bg_error_socials.png) 50% 32px no-repeat;
}

.error_page .socials a
{
    display: inline-block;
    vertical-align: middle;

    margin-top: 25px;
}

.error_page .socials a + a
{
    margin-left: 26px;
}

.error_page .socials img
{
    display: block;
}



@media (max-width: 1023px)
{
    .error_page .title
    {
        font-size: 24px;

        margin-bottom: 10px;
    }

    .error_page .desc
    {
        font-size: 18px;
    }

    .error_page .socials
    {
        font-size: 16px;

        margin-top: 30px;
    }
}


@media (max-width: 479px)
{
    .error_page .img
    {
        height: 150px;
    }


    .error_page .title
    {
        font-size: 20px;
    }

    .error_page .desc
    {
        font-size: 16px;
    }

    .error_page .socials
    {
        margin-top: 20px;
    }
}
