@media (max-width: 479px)
{
    /*---------------
        Main styles
    ---------------*/
    .form .submit_btn
    {
        min-width: 105px;
    }


    .block_title div
    {
        padding: 0 15px;
    }


    .page_title
    {
        font-size: 22px;
    }



    /*---------------
        Header
    ---------------*/
    header .favorites_link
    {
        display: none;
    }


    header .cart_link span
    {
        display: none;
    }


    header nav .menu_item > a
    {
        font-size: 12px;
    }


    header .bottom > .cont
    {
        overflow: auto;

        width: 100%;
    }

    header .bottom > .cont:after
    {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 15px;
        height: 100%;

        content: '';

        background:    -moz-linear-gradient(left,  rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
        background:         linear-gradient(to right,  rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
    }

    header nav
    {
        width: 100%;
        min-width: 480px;

        padding-right: 15px;
    }


    header .search form
    {
        top: 38px;
        right: -59px;

        width: 320px;
    }



    #cart_modal
    {
        top: 25px;
        right: -15px;

        width: 320px;
    }

    #cart_modal:after
    {
        right: 22px;
    }

    #cart_modal:before
    {
        right: 15px;
    }



    /*---------------
        Sidebar
    ---------------*/



    /*---------------
        Main section
    ---------------*/
    .promo_banners .grid
    {
        margin-left: -10px;
    }

    .promo_banners .item_wrap
    {
        margin-bottom: 10px;
    }

    .promo_banners .item
    {
        width: calc(100% - 10px);

        margin-left: 10px;
    }



    .collections .grid
    {
        padding-right: 15px;
    }



    .illustrators .slide > .item
    {
        margin: 10px;
    }


    .illustrators .slide > .item .prints
    {
        text-align: left;
    }
    .illustrators .slide > .item .comments
    {
        text-align: right;
    }


    .illustrators .slide > .item .author .foto
    {
        top: -56px;

        width: 73px;
        height: 73px;

        margin-left: -36px;
    }



    .widgets
    {
        display: none;
    }



    .articles .item .name a
    {
        font-size: 14px;
        line-height: 20px;
    }



    .cart_page table td.image
    {
        width: 40%;

        padding: 15px 0;
    }

    .cart_page table td
    {
        width: 60%;
    }


    .cart_info .promo_code .discount
    {
        margin-left: 0;
    }


    .cart_info .cart_total,
    .cart_info .promo_code
    {
        padding-bottom: 0;
    }


    .checkout_links a
    {
        width: 140px;

        padding: 0 15px;
    }



    .catalog_banner .info
    {
        width: 100%;
    }

    .catalog_banner
    {
        background-image: none !important;
    }



    .products .product .thumb a
    {
        height: 140px;
    }

    .products .product .sticker
    {
        left: 0;
    }

    .products .product .name a
    {
        font-size: 13px;
    }



    .cat_head .page_title
    {
        width: 100%;
    }



    .checkout_info .form .payment_methods input[type=radio] + label
    {
        font-size: 14px;
    }


    .favorites_links > .right
    {
        width: 100%;
        max-width: 100%;

        margin-top: 15px;
    }



    .page_menu
    {
        margin-bottom: 30px;
    }

    .page_menu a
    {
        line-height: 40px;

        width: 100%;
        height: 40px;

        text-align: center;
    }



    .product_info .prod_name
    {
        font-size: 20px;
        line-height: 26px;
    }

    .product_info .buy
    {
        width: calc(100% - 55px);
    }



    .comments .item.children
    {
        margin-left: 0;
        padding: 15px;
    }


    .comments .item.admin
    {
        padding: 13px;
    }



    .hor_scroll
    {
        width: calc(100% + 30px);

        margin: 0 -15px;
        padding-left: 15px;
    }



    .tabs li a
    {
        font-size: 13px;
    }



    /*---------------
        Footer
    ---------------*/



    /*---------------
        PopUp
    ---------------*/
    .modal
    {
        padding: 20px;
    }


    .modal .soc_auth
    {
        width: calc(100% + 40px);

        margin: 20px -20px 0;
        padding: 20px 20px 0;
    }
}
