@media (max-width: 1023px)
{
    /*---------------
        Main styles
    ---------------*/
    .block_title
    {
        margin-bottom: 30px;
    }


    .content
    {
        width: 100%;
    }



    /*---------------
        Header
    ---------------*/
    header nav .menu_item + .menu_item
    {
        margin-left: 26px;
    }

    header nav .menu_item > a
    {
        font-size: 13px;
    }


    header .search
    {
        position: relative;

        width: 25px;
    }

    header .search .search_link
    {
        display: block;
    }

    header .search form
    {
        position: absolute;
        z-index: 99;
        top: 30px;
        right: -12px;

        display: none;

        width: 290px;

        padding: 15px;

        background: #fff;
        box-shadow: 0 3px 10px rgba(0,0,0,.1);
    }



    header nav .menu_item:hover .sub_cats,
    header nav .sub_cats .product
    {
        display: none;
    }


    header nav .sub_cats .cats
    {
        width: 100%;
    }

    header nav .sub_cats .cats .title
    {
        font-size: 20px;
        line-height: 26px;
    }



    /*---------------
        Sidebar
    ---------------*/
    .article_info aside,
    aside .cats
    {
        display: none;
    }


    aside,
    aside.left
    {
        width: 100%;

        margin-bottom: 0;
    }


    aside .filter .item
    {
        float: left;

        width: calc(50% - 15px);

        margin-bottom: 30px;
    }

    aside .filter .item + .item
    {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }

    aside .filter .item:nth-child(2n)
    {
        float: right;
    }

    aside .filter .data
    {
        display: none;

        margin-top: 20px;
    }

    aside .filter .name
    {
        width: auto;

        margin-bottom: 0;
        padding-right: 20px;

        cursor: pointer;

        background: url(../images/ic_plus.png) 100% 50% no-repeat;
    }

    aside .filter .item:nth-child(2n) .name
    {
        float: right;
    }

    aside .filter .name.active
    {
        background: url(../images/ic_minus.png) 100% 50% no-repeat;
    }

    aside .filter .name + .reset_btn
    {
        display: none;
    }



    /*---------------
        Main section
    ---------------*/
    .main_slider
    {
        margin-bottom: 30px;
    }

    .main_slider .slide .details
    {
        display: none;
    }



    .promo_banners
    {
        margin-bottom: 25px;
    }

    .promo_banners .grid
    {
        margin-left: -15px;
    }

    .promo_banners .item_wrap
    {
        margin-bottom: 15px;
    }

    .promo_banners .item
    {
        width: calc(100% - 15px);

        margin-left: 15px;
    }



    .tabs
    {
        margin-bottom: 30px;
    }


    .products .slider
    {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .products .product
    {
        padding-bottom: 0;
    }

    .products .product .favorite_link
    {
        opacity: 1;
    }

    .products .product .quike_view_link
    {
        display: none;

        margin-bottom: 0;

        opacity: 1;
    }

    .products .product:hover .price
    {
        margin-bottom: 0;
    }



    .advantages
    {
        display: none;
    }



    .collections .grid
    {
        margin-left: -15px;
    }

    .collections .item
    {
        font-size: 14px;

        width: calc(100% - 15px);

        margin-bottom: 15px;
        margin-left: 15px;
    }



    .illustrators
    {
        margin-bottom: 25px;
    }

    .illustrators .block_title
    {
        margin-bottom: 20px;
    }



    .widgets
    {
        margin-bottom: 40px;
        padding: 40px 0 25px;
    }

    .widgets .item_wrap
    {
        width: 50%;

        margin-bottom: 15px;
    }

    .widgets .item_wrap.big
    {
        width: 100%;
    }


    .widgets .friends
    {
        padding: 37px 30px 15px;
    }

    .widgets .friends .title
    {
        margin-bottom: 25px;
    }

    .widgets .friends .fotos img
    {
        margin: 0 10px;
    }

    .widgets .friends .fotos
    {
        margin-bottom: 20px;
    }

    .widgets .friends .discount,
    .widgets .friends .vk_like_link
    {
        margin-top: 20px;
    }


    .widgets .instagram .info
    {
        padding: 30px 30px 15px;
    }


    .widgets .competition
    {
        height: 320px;
    }



    .franchise
    {
        margin-bottom: 40px;
    }

    .franchise img
    {
        margin-left: 0;
    }

    .franchise .col.right
    {
        width: calc(50% - 15px);

        padding-right: 0;
    }



    .articles
    {
        margin-bottom: 10px;
    }

    .articles .all
    {
        margin-top: -10px;
        margin-bottom: 30px;
    }


    .articles .item_wrap
    {
        width: 33.333%;
    }

    .articles .item_wrap:last-child
    {
        display: none;
    }



    .bottom_text
    {
        padding-bottom: 20px;
    }



    .text_block h1
    {
        font: 24px Ubuntu;

        margin-bottom: 15px;
    }

    .text_block h2
    {
        font: 20px Ubuntu;
    }

    .text_block h3
    {
        font: 14px Ubuntu;
    }

    .text_block h4
    {
        font: 14px Ubuntu;
    }



    .article_info
    {
        margin-bottom: 20px;
    }



    .cart_info
    {
        margin-bottom: 20px;
    }


    .cart_info .cart_total,
    .cart_info .promo_code
    {
        padding-bottom: 20px;
    }


    .cart_info .content,
    .checkout_info .content
    {
        width: 100%;
    }



    .catalog_banner
    {
        margin-bottom: 15px;

        background-position: -120px 0;
    }

    .catalog_banner .info
    {
        right: 15px;
    }



    .sub_cats_block .grid
    {
        margin-left: -15px;
    }

    .sub_cats_block .item_wrap
    {
        margin-bottom: 15px;
    }

    .sub_cats_block .item
    {
        width: calc(100% - 15px);
        height: 200px;

        margin-left: 15px;
    }

    .sub_cats_block .big_height .item
    {
        height: 415px;
    }



    .products .item_wrap
    {
        width: 33.333%;
    }



    .more
    {
        margin-bottom: 20px;
        padding-top: 10px;
    }


    .category_info
    {
        margin-bottom: 20px;
    }


    .pagination
    {
        padding-top: 10px;
    }



    .checkout_info
    {
        margin-bottom: 20px;
    }


    .checkout_links
    {
        padding-top: 20px;
    }



    #map
    {
        height: 320px;

        margin-bottom: 30px;
    }



    .contacts_info .info .item_wrap
    {
        margin-bottom: 30px;
    }

    .contacts_info .info .item
    {
        padding-left: 50px;
    }



    .feedback
    {
        margin-bottom: 20px;
        padding-top: 30px;
    }



    .delivery_info .grid
    {
        padding-top: 0;
    }

    .delivery_info .grid .item_wrap
    {
        width: 50%;

        margin-bottom: 30px;
    }

    .delivery_info .grid .item .title
    {
        font-size: 22px;
    }


    .delivery_info .bottom
    {
        padding-top: 30px;
        padding-bottom: 0;
    }



    .favorites
    {
        margin-bottom: 20px;
    }



    .lk_orders
    {
        margin-bottom: 20px;
    }

    .lk_orders table th
    {
        padding: 0 15px 13px;
    }

    .lk_orders table td
    {
        padding: 15px;
    }

    .lk_orders .cart_info table th
    {
        padding: 15px;
    }

    .lk_orders .cart_info table td
    {
        padding: 20px 15px;
    }

    .lk_orders .cart_info table td.image
    {
        width: 125px;

        padding-right: 15px;
        padding-left: 15px;
    }



    .lk_personal
    {
        margin-bottom: -10px;
        padding-bottom: 0;
    }

    .lk_personal .avatar
    {
        width: 270px;

        margin: 0 auto 30px;
    }



    .product_info .images,
    .product_info .data
    {
        width: calc(50% - 15px);

        margin-bottom: 30px;
        margin-left: 0;
    }

    .product_info .images
    {
        margin-bottom: 15px;
    }


    .product_info .prod_name
    {
        font-size: 22px;
        line-height: 28px;
    }


    .product_info .data.right
    {
        width: 100%;

        margin-bottom: 40px;
        margin-left: 0;
    }

    .product_info .author,
    .product_info .share,
    .product_info .comments_link
    {
        float: left;

        width: calc(50% - 15px);

        margin-bottom: 30px;
    }


    .product_info .also
    {
        float: right;

        width: calc(50% - 15px);

        margin-bottom: 30px;
    }


    .product_info .share,
    .product_info .comments_link
    {
        margin-bottom: 0;
    }

    .product_info .share
    {
        margin-top: 0;
    }


    .product_info .accordion
    {
        float: left;

        width: calc(50% - 15px);

        margin-bottom: 30px;
    }



    .comments .item
    {
        margin-bottom: 30px;
    }


    .add_comment
    {
        margin-bottom: 20px;
    }



    /*---------------
        Footer
    ---------------*/
    footer .subscribe form
    {
        width: calc(100% - 215px);
    }

    footer .subscribe form .input
    {
        width: 175px;
    }

    footer .subscribe .agree
    {
        width: 100%;

        margin-top: 12px;
        padding-left: 215px;
    }




    footer .contacts
    {
        width: auto;
    }



    /*---------------
        PopUp
    ---------------*/
}
