<div class="modal" id="product_modal">
	<div class="product_info">
		<div class="images left">
			<div class="big right">
				<div class="slider owl-carousel">
					<div class="slide">
						<a href="images/product_img.jpg" class="fancy_img" data-fancybox="gallery">
							<img src="images/product_img.jpg" alt="">
						</a>
					</div>

					<div class="slide">
						<a href="images/product_img.jpg" class="fancy_img" data-fancybox="gallery">
							<img src="images/product_img.jpg" alt="">
						</a>
					</div>

					<div class="slide">
						<iframe src="https://www.youtube.com/embed/i3j8ijd7PQY?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>


			<div class="thumbs left">
				<a href="" data-slide-index="0" class="active">
					<img src="images/product_img.jpg" alt="">
				</a>

				<a href="" data-slide-index="1">
					<img src="images/product_img.jpg" alt="">
				</a>

				<a href="" data-slide-index="2" class="video_link">
					<img src="images/product_img.jpg" alt="">
				</a>
			</div>
			<div class="clear"></div>
		</div>


		<div class="data right">
			<div class="prod_name">футболка с принтом ворлд дисней</div>

			<div class="articul">Артикул: <span>00539390</span></div>

			<div class="price">
				<div class="new">890 <span class="currency">:</span></div>
				<div class="old">1 290 <span class="currency">:</span></div>
				<div class="percents">-20%</div>
			</div>


			<div class="color">
				<div class="title">Цвет</div>

				<div class="grid">
					<input type="radio" name="prod_color" id="prod_color1">
					<label for="prod_color1"><img src="images/ic_product_color1.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color2">
					<label for="prod_color2"><img src="images/ic_product_color2.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color3">
					<label for="prod_color3"><img src="images/ic_product_color3.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color4">
					<label for="prod_color4"><img src="images/ic_product_color4.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color5">
					<label for="prod_color5"><img src="images/ic_product_color5.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color1">
					<label for="prod_color1"><img src="images/ic_product_color1.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color2">
					<label for="prod_color2"><img src="images/ic_product_color2.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color3">
					<label for="prod_color3"><img src="images/ic_product_color3.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color4">
					<label for="prod_color4"><img src="images/ic_product_color4.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color5">
					<label for="prod_color5"><img src="images/ic_product_color5.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color1">
					<label for="prod_color1"><img src="images/ic_product_color1.png" alt=""></label>

					<input type="radio" name="prod_color" id="prod_color2">
					<label for="prod_color2"><img src="images/ic_product_color2.png" alt=""></label>
				</div>
			</div>


			<div class="size">
				<div class="title">Размер</div>

				<div class="grid">
					<input type="radio" name="prod_size" id="prod_size1">
					<label for="prod_size1">xxs</label>

					<input type="radio" name="prod_size" id="prod_size2">
					<label for="prod_size2">xs</label>

					<input type="radio" name="prod_size" id="prod_size3">
					<label for="prod_size3">s</label>

					<input type="radio" name="prod_size" id="prod_size4">
					<label for="prod_size4">m</label>

					<input type="radio" name="prod_size" id="prod_size5">
					<label for="prod_size5">l</label>

					<input type="radio" name="prod_size" id="prod_size6">
					<label for="prod_size6">xl</label>
				</div>
			</div>


			<div class="buy left">
				<a href="#" class="buy_link">
					<img src="images/ic_buy_link.png" alt="">в корзину
				</a>

				<a href="#" class="quike_buy_link">купить в 1 клик</a>
			</div>

			<a href="#" class="favorite_link left">
				<div class="hover add_hover">Добавить в избранное</div>
				<div class="hover del_hover">Убрать из избранного</div>
			</a>

			<a href="/" class="details left">подробнее</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>


	<div class="prev_next">
		<a href="product_info.html" class="prev left ajax_modal">ФУТБОЛКА С ПРИНТОМ ПРИКОЛЬНЫМ</a>

		<a href="product_info.html" class="next right ajax_modal">ФУТБОЛКА С ПРИНТОМ ПРИКОЛЬНЫМ</a>
	</div>

	<script>
		// Карточка товара
		$prouctCarousel = $('#product_modal .images .big .slider').owlCarousel({
			loop: false,
		    nav: false,
		    navSpeed: 500,
		    smartSpeed: 500,
		    autoplaySpeed: 500,
		    items: 1,
		    dots: false,
		    margin: 30,
		    onTranslate: function(event){
		    	$('#product_modal .images .thumbs a').removeClass('active')
		    	$('#product_modal .images .thumbs a:eq('+ event.item.index +')').addClass('active')
		    }
		})

		$('#product_modal .images .thumbs a').click(function(e) {
			e.preventDefault()

			$('#product_modal .images .thumbs a').removeClass('active')
			$(this).addClass('active')

		    $prouctCarousel.trigger('to.owl.carousel', $(this).attr('data-slide-index'))
		})


		$('.ajax_modal').click(function(e){
			e.preventDefault()

			$.fancybox.close()

			$.fancybox.open({
				src  : $(this).attr('href'),
				type : 'ajax',
				opts : {
					speed: 300,
					autoFocus : false,
					i18n : {
						'en' : {
							CLOSE : 'Закрыть'
						}
					}
				}
			})
		})
	</script>
</div>