.constr3_big_pic{position:relative;background-repeat:no-repeat;background-position:0 0;width:452px}.constr3_big_pic .canvas-container{background-color:#ccc;position:absolute!important;left:var(--left-canvas);top:var(--top-canvas)}