@charset 'UTF-8';
.fancybox-enabled
{
    overflow: hidden;
}

.fancybox-enabled body
{
    overflow: visible;

    height: 100%;
}

.fancybox-is-hidden
{
    position: absolute;
    top: -9999px;
    left: -9999px;

    visibility: hidden;
}

.fancybox-container
{
    position: fixed;
    z-index: 99993;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container
{
    z-index: 99992;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fancybox-outer
{
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

.fancybox-bg
{
    transition-timing-function: cubic-bezier(.47, 0, .74, .71);
    transition-duration: inherit;
    transition-property: opacity;

    opacity: 0;
    background: #292929;
}

.fancybox-is-open .fancybox-bg
{
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);

    opacity: .4;
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption-wrap
{
    position: absolute;
    z-index: 99997;

    visibility: hidden;

    box-sizing: border-box;

    transition: opacity .25s, visibility 0s linear .25s;

    opacity: 0;

    direction: ltr;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption-wrap
{
    visibility: visible;

    transition: opacity .25s, visibility 0s;

    opacity: 1;
}

.fancybox-infobar
{
    top: 0;
    left: 50%;

    margin-left: -79px;
}

.fancybox-infobar__body
{
    color: #ddd;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 44px;

    display: inline-block;

    width: 70px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    pointer-events: none;

    background-color: rgba(30, 30, 30, .7);

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-toolbar
{
    top: 0;
    right: 0;
}

.fancybox-stage
{
    z-index: 99994;

    overflow: hidden;

    -webkit-transform: translate3d(0, 0, 0);

    direction: ltr;
}

.fancybox-slide
{
    position: absolute;
    z-index: 99994;
    top: 0;
    left: 0;

    display: none;
    overflow: auto;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    text-align: center;
    white-space: normal;

    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;

    outline: none;

    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.fancybox-slide::before
{
    display: inline-block;
    vertical-align: middle;

    width: 0;
    height: 100%;

    content: '';
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next
{
    display: block;
}

.fancybox-slide--image
{
    overflow: visible;
}

.fancybox-slide--image::before
{
    display: none;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe
{
    background: #000;
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe
{
    background: #e5e3df;
}

.fancybox-slide--next
{
    z-index: 99995;
}

.fancybox-slide > *
{
    position: relative;

    display: inline-block;
    overflow: auto;
    vertical-align: middle;

    box-sizing: border-box;

    border-width: 0;
    margin: 44px 0 44px;
    padding: 24px;

    text-align: left;

    background-color: #fff;
}

.fancybox-slide .fancybox-image-wrap
{
    position: absolute;
    z-index: 99995;
    top: 0;
    left: 0;

    overflow: visible;

    border: 0;
    margin: 0;
    padding: 0;

    cursor: default;

    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;

    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.fancybox-can-zoomOut .fancybox-image-wrap
{
    cursor: -webkit-zoom-out;
    cursor:         zoom-out;
}

.fancybox-can-zoomIn .fancybox-image-wrap
{
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
}

.fancybox-can-drag .fancybox-image-wrap
{
    cursor: -webkit-grab;
    cursor:         grab;
}

.fancybox-is-dragging .fancybox-image-wrap
{
    cursor: -webkit-grabbing;
    cursor:         grabbing;
}

.fancybox-image,
.fancybox-spaceball
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;

    border: 0;
    margin: 0;
    padding: 0;
}

.fancybox-spaceball
{
    z-index: 1;
}

.fancybox-slide--iframe .fancybox-content
{
    overflow: visible;

    width: 80%;
    max-width: calc(100% - 100px);
    height: 80%;
    max-height: calc(100% - 88px);

    padding: 0;

    background: #fff;
}

.fancybox-iframe
{
    display: block;

    width: 100%;
    height: 100%;

    border: 0;
    margin: 0;
    padding: 0;

    background: #fff;
}

.fancybox-error
{
    width: 100%;
    max-width: 380px;

    margin: 0;
    padding: 40px;

    cursor: default;

    background: #fff;
}

.fancybox-error p
{
    color: #444;
    font: 16px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;

    margin: 0;
    padding: 0;
}

.fancybox-close-small
{
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    width: 42px;
    height: 42px;

    border: 0;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border-radius: 0;
    outline: none;
    background: url(../images/ic_close.png) 50% 50% no-repeat;
}


.fancybox-slide--iframe .fancybox-close-small
{
    top: 0;
    right: -44px;
}

.fancybox-slide--iframe .fancybox-close-small:after
{
    color: #aaa;
    font-size: 35px;

    background: transparent;
}

.fancybox-slide--iframe .fancybox-close-small:hover:after
{
    color: #fff;
}

/* Caption */
.fancybox-caption-wrap
{
    right: 0;
    bottom: 0;
    left: 0;

    padding: 60px 30px 0 30px;

    pointer-events: none;

    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8) 100%);
}

.fancybox-caption
{
    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;

    border-top: 1px solid rgba(255, 255, 255, .4);
    padding: 30px 0;

    -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select
{
    pointer-events: all;
}

.fancybox-caption a
{
    color: #fff;

    text-decoration: underline;
}

/* Buttons */
.fancybox-button
{
    color: #ddd;
    line-height: 44px;

    position: relative;

    display: inline-block;
    vertical-align: top;

    width: 44px;
    height: 44px;

    border: 0;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;

    border-radius: 0;
    outline: none;
    background: transparent;
}

.fancybox-button[disabled]
{
    cursor: default;
    pointer-events: none;
}

.fancybox-infobar__body,
.fancybox-button
{
    background: rgba(30, 30, 30, .6);
}

.fancybox-button:hover:not([disabled])
{
    color: #fff;

    background: rgba(0, 0, 0, .8);
}

.fancybox-button::before,
.fancybox-button::after
{
    color: currentColor;

    position: absolute;

    display: inline-block;

    box-sizing: border-box;

    content: '';
    pointer-events: none;

    opacity: .9;
    background-color: currentColor;
}

.fancybox-button[disabled]::before,
.fancybox-button[disabled]::after
{
    opacity: .3;
}

.fancybox-button--left::after,
.fancybox-button--right::after
{
    top: 18px;

    width: 6px;
    height: 6px;

    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;

    background: transparent;
}

.fancybox-button--left::after
{
    left: 20px;

    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
}

.fancybox-button--right::after
{
    right: 20px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.fancybox-button--left
{
    border-bottom-left-radius: 5px;
}

.fancybox-button--right
{
    border-bottom-right-radius: 5px;
}

.fancybox-button--close::before,
.fancybox-button--close::after
{
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);

    display: inline-block;

    width: 16px;
    height: 2px;

    content: '';
}

.fancybox-button--close::before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.fancybox-button--close::after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* Navigation arrows */
.fancybox-arrow
{
    position: absolute;
    z-index: 99995;
    top: 50%;

    width: 54px;
    height: 100px;

    border: 0;
    margin: -50px 0 0 0;
    padding: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    transition: opacity .25s;

    opacity: 0;
    outline: none;
    background: none;
}

.fancybox-arrow::after
{
    position: absolute;
    top: 28px;

    width: 44px;
    height: 44px;

    content: '';

    background-color: rgba(30, 30, 30, .8);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

.fancybox-arrow--right
{
    right: 0;
}

.fancybox-arrow--left
{
    left: 0;

    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

.fancybox-arrow--right::after,
.fancybox-arrow--left::after
{
    left: 0;
}

.fancybox-show-nav .fancybox-arrow
{
    opacity: .6;
}

.fancybox-show-nav .fancybox-arrow[disabled]
{
    opacity: .3;
}

/* Loading indicator */
.fancybox-loading
{
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 50px;

    border: 6px solid rgba(100, 100, 100, .4);
    border-top: 6px solid rgba(255, 255, 255, .6);
    margin-top: -25px;
    margin-left: -25px;

    -webkit-animation: fancybox-rotate .8s infinite linear;
            animation: fancybox-rotate .8s infinite linear;

    border-radius: 100%;
    background: transparent;
}

@-webkit-keyframes fancybox-rotate
{
    from
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to
    {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

@keyframes fancybox-rotate
{
    from
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to
    {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

/* Transition effects */
.fancybox-animated
{
    transition-timing-function: cubic-bezier(0, 0, .25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous
{
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next
{
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next
{
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);

    opacity: 0;
}

.fancybox-fx-fade.fancybox-slide--current
{
    opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous
{
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);

    opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next
{
    -webkit-transform: scale3d(.5, .5, .5);
            transform: scale3d(.5, .5, .5);

    opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current
{
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

    opacity: 1;
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous
{
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);

    opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next
{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);

    opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current
{
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);

    opacity: 1;
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
            transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next
{
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
            transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);

    opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current
{
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);

    opacity: 1;
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous
{
    -webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
            transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next
{
    -webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
            transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current
{
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px)
{
    .fancybox-infobar
    {
        left: 0;

        margin-left: 0;
    }
    .fancybox-button--left,
    .fancybox-button--right
    {
        display: none !important;
    }
    .fancybox-caption
    {
        margin: 0;
        padding: 20px 0;
    }
}

/* Fullscreen  */
.fancybox-button--fullscreen::before
{
    top: calc(50% - 6px);
    left: calc(50% - 7px);

    width: 15px;
    height: 11px;

    border: 2px solid;

    background: none;
}

/* Slideshow button */
.fancybox-button--play::before,
.fancybox-button--pause::before
{
    top: calc(50% - 6px);
    left: calc(50% - 4px);

    background: transparent;
}

.fancybox-button--play::before
{
    width: 0;
    height: 0;

    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-left: 10px solid;

    border-radius: 1px;
}

.fancybox-button--pause::before
{
    width: 7px;
    height: 11px;

    border-width: 0 2px 0 2px;
    border-style: solid;
}

/* Thumbs */
.fancybox-thumbs
{
    display: none;
}

.fancybox-button--thumbs
{
    display: none;
}

@media all and (min-width: 800px)
{
    .fancybox-button--thumbs
    {
        display: inline-block;
    }
    .fancybox-button--thumbs span
    {
        font-size: 23px;
    }
    .fancybox-button--thumbs::before
    {
        top: calc(50% - 2px);
        left: calc(50% - 2px);

        width: 3px;
        height: 3px;

        box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
    }
    .fancybox-thumbs
    {
        position: absolute;
        z-index: 99995;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;

        box-sizing: border-box;
        width: 220px;

        margin: 0;
        padding: 5px 5px 0 0;

        word-break: normal;

        background: #fff;

        -webkit-tap-highlight-color: transparent;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .fancybox-show-thumbs .fancybox-thumbs
    {
        display: block;
    }
    .fancybox-show-thumbs .fancybox-inner
    {
        right: 220px;
    }
    .fancybox-thumbs > ul
    {
        font-size: 0;

        position: absolute;
        position: relative;

        overflow-x: hidden;
        overflow-y: auto;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        list-style: none;
    }
    .fancybox-thumbs > ul > li
    {
        position: relative;

        float: left;
        overflow: hidden;

        box-sizing: border-box;
        width: 105px;
        max-width: 50%;
        height: 75px;

        border: 5px solid transparent;
        border-top-width: 0;
        border-right-width: 0;
        margin: 0;
        padding: 0;

        cursor: pointer;

        outline: none;

        -webkit-tap-highlight-color: transparent;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    li.fancybox-thumbs-loading
    {
        background: rgba(0, 0, 0, .1);
    }
    .fancybox-thumbs > ul > li > img
    {
        position: absolute;
        top: 0;
        left: 0;

        min-width: 100%;
        max-width: none;
        min-height: 100%;
        max-height: none;

        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        -webkit-touch-callout: none;
    }
    .fancybox-thumbs > ul > li:before
    {
        position: absolute;
        z-index: 99991;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border: 4px solid #4ea7f9;

        content: '';

        transition: all .2s cubic-bezier(.25, .46, .45, .94);

        opacity: 0;
        border-radius: 2px;
    }
    .fancybox-thumbs > ul > li.fancybox-thumbs-active:before
    {
        opacity: 1;
    }
}
