@media only screen and (max-width: 1170px) {
  .center{
    padding: 0 15px;
  }
}

@media only screen and (max-width: 768px) {

  .promo_banners_sub_flex{
    bottom: 0;
  }

  .promo_banners_flex{
    max-height: 100%;
    overflow: inherit;
  }

  .promo_banners{
    padding-bottom: 50px;
  }

    .promo_banners_flex{
        flex-direction: column;
    }

    .promo_banners_slider{
        max-width: 100%;
    }

    .promo_banners_right{
        display: none;
    }

    .promo_banners_button {
        top: 55%;
    }

    .promo_banners_sub {
        padding: 20px 20px;
    }

    .promo_banners_slider .owl-dots{
        bottom: -30px;
    }

    .promo_banners_right_item:first-child{
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 530px) {

    .promo_banners_sub_title{
        font-size: 15px;
    }

    .promo_banners_sub {
      height: 55px;
      padding: 0px 10px;
    }

    .promo_banners_sub_text {
      font-size: 14px;
      padding-top: 3px;
    }



}

@media only screen and (max-width: 404px) {

    .promo_banners_sub_title{
        font-size: 16px;
    }

}