html, body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.center{
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}

.promo_banners{
    width: 100%;
    padding-bottom: 20px;
}

.promo_banners_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.promo_banners_slider{
    max-width: 64%;
}

.promo_banners_slider .owl-stage-outer{
  min-height: 100% !important;
}

.promo_banners_right{
    max-width: 45%;
    margin-left: 25px;
}

.promo_banners_slider_item{
    position: relative;
}

.promo_banners_image img{
    max-width: 100%;
    height: auto;
}

.promo_banners_image{
  max-height: 541px;
  overflow-y: hidden;
}

.promo_banners_right_item{
    position: relative;
}

.promo_banners_right_overlay{
    position: absolute;
    background-color: #F44336;
    width: 100%;
    height: 99%;
    top: 0;
    opacity: 0;
}

.promo_banners_right_item img{
    max-width: 100%;
    height: auto;
}

.promo_banners_right_item:first-child{
    margin-bottom: 29px;
}

.promo_banners_button{
    width: 100%;
    top: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.promo_banners_button a{
    width: 157px;
    height: 40px;
    background-color: #ff3737;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.promo_banners_sub_flex{
    width: 100%;
    height: auto;
    overflow: inherit;
    position: absolute;
    bottom: -7px;
    display: flex;
    z-index: 3;
    justify-content: center;
}

.promo_banners_sub{
  width: 70%;
    padding-top: 25px;
    box-sizing: border-box;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.promo_banners_sub_title{
    color: #414141;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.promo_banners_sub_text{
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 300;
    padding-top: 6px;
}

/** SLIDER BUTTONS & DOTS **/

.promo_banners_slider .owl-dots{
    bottom: 0;
}

.promo_banners_slider .owl-dot{
    width: 13px;
    height: 13px;
    border: 2px solid #404041;
    box-sizing: border-box;
}

.promo_banners_slider .owl-nav .owl-prev, .promo_banners_slider .owl-nav .owl-next{
    top: 45% !important;
}

.promo_banners_slider .owl-dot.active{
    width: 13px;
    height: 13px;
    box-sizing: border-box;
    border: 2px solid #ffd714;
    background-color: #ffd714;
}

.promo_banners_overlay{
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 99.8%;
    box-sizing: border-box;
    opacity: 0;
}

.promo_banners_slider .owl-stage-outer{
  max-height: 600px !important;
}

.promo_banners_button{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.promo_banners_slider_item:hover > .promo_banners_button{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.promo_banners_right_item:hover > .promo_banners_button{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}