/*p.error___p {
	color:red!important;
	margin-bottom:16px;
}

div.modal p.error___p, div.modal p.modal___error_p {
	font: 300 14px Ubuntu;
	margin-top: 15px;
}

div.modal p.modal___error_p {
	color:red!important;
	margin-bottom:25px;
	font: 300 15px Ubuntu;
	margin-top: 15px;
}*/

.success___p {
	color: green!important;
}

input.is___error, textarea.is___error {
	border-right: 1px solid red!important;
}

input.error, textarea.error {
	border-right: 1px solid red!important;
}

.is___process {
	opacity: 0.6!important;
}

z
.null___view {
	width: 0!important;
	height: 0!important;
	margin: 0!important;
	padding: 0!important;
	opacity: 0!important;
	visibility: hidden!important;
}

p.no___count {
	font-style:italic;
	text-align:center;
	margin-bottom: 60px;
	color:gray;
}


/* Запрет выделения */
.add_to_basket {
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}




a.video_link {
	overflow: hidden;
}

a.video_link img {
	height: 97px!important;
	width:auto!important;
}

.color___label, .size___label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.products .product .favorite_link.active {
    background: url(../images/ic_favorite_h.png) 50% 50% no-repeat;
}



.filter_submit_block {
	margin-top:40px;
	text-align:center;
}

.filter_submit_block .set___button{
	margin-top:5px;
}

.filter_submit_block .unset___button, .filter_submit_block .search_unset___button{
	margin-top:20px;
	background-color:#a0a0a0;
}




.basket___delete
{
    display: block;

    width: 10px;
    height: 10px;

    transition: opacity .2s linear;

    opacity: .5;
    background: url(../images/ic_cart_delete.png) 0 0 no-repeat;
}


.order_auth_p {
	
	color:green;
	font: 300 12px/16px Ubuntu;
}


.contacts___map {
    overflow: hidden;
    width: 100%;
    height: 430px;
    margin-bottom: 50px;
}



p.collection_descr {
	color: #878787;
	font: 300 16px/25px Ubuntu;
}

p.collection_descr  img {
	float:right;
	margin: 5px 5px 20px 20px;
}




span.empty___basket {
	background: #e8e8e8!important;
}



.shop___link{
	-webkit-user-select: none;
   /* Для Mozilla FireFox */ 
   -moz-user-select: none; 
   /* Для Safari, Chrome */ 
   -khtml-user-select: none; 
   /* Общее свойство */ 
   user-select: none; 
}


.addPrintButton {
	margin-top:20px;
}






.configurator {
	
}

.configurator .error___p {
	margin: 40px 0 0 0;
}

.constructor_buttons_block {
	margin: 40px 0;
	display:none;
}

.constructor_buttons_block button {
	padding:5px;
}

.configurator .steps a.step:hover {
	text-decoration: none;
}
.configurator .steps a.step.success:hover {
	text-decoration: underline;
	cursor:pointer;
}






.constructor_approval_table {
	border-collapse:collapse;
	color:#6f6e6e;
	font-size: 15px;
	margin: 60px 0;
}

.constructor_approval_table th,
.constructor_approval_table td {
	border: 1px solid #dcdcdc;
	padding:15px;
	
	
}


.cancelConstructorButton, .approvalConstructorButton {
	padding: 0 21px!important;
	margin-top:30px
}
.cancelConstructorButton {
	background-color: #e85e5e!important;
}
.cancelConstructorButton:hover {
    background: #ea4040!important;
}
.approvalConstructorButton {
	background-color: #3ea537!important;
}
.approvalConstructorButton:hover {
    background: #399632!important;
}




.smartfilter div.color label.active {
	border-color: #414141;
}


aside .filter .color input[type=radio]
{
    display: none;
}

aside .filter .color input[type=radio]:checked + label
{
    border-color: #414141;
}



.ui-widget-content.ui-autocomplete{
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.search___status {
	color:gray;
	margin-top:15px;
}



.pay___block {
	margin-top:20px;
}

.pay___button {
	color: #fff;
	border-color: #414141;
	background: #414141;
    font: 300 12px/43px Ubuntu;
    display: block;
    width: 170px;
    height: 45px;
    padding: 0 19px;
    transition: .2s linear;
    text-decoration: none;
    text-transform: uppercase;
}

.lk___pay_button {
	float:right;
	margin: 15px;
	cursor:pointer;
	background: #a20101;
	border-color: #bb2c2c;
}

.lk_pay___block {
	margin:0;
}

.modal___block {
	border: 1px solid #e4e2e2;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.tag___item {
	cursor:pointer;
}

/* ------ custom css ------- */
.cart_info table td.amount{
	min-width: 170px;
}
.illustrators .slide > .item .author .foto:hover .star, .illustrators .grid > .item .author .foto:hover .star, .illustrator_info > .author .foto:hover .star, .illustrator_info .grid > .author .foto:hover .star{
	background-color: #ffd714;
    width: 100%;
    border-radius: 100px;
    background-image: none;
    color: white;
    font-size: 12px;
    line-height: 24px;
}
.illustrators .slide > .item .author .foto:hover .star:active, .illustrators .grid > .item .author .foto:hover .star:active, .illustrator_info > .author .foto:hover .star:active, .illustrator_info .grid > .author .foto:hover .star:active{
	color: #595959;
	background-color: white;
	line-height: 24px;
	border: 2px solid #ffd714;
}
.illustrators .slide > .item .author .foto .star, .illustrators .grid > .item .author .foto .star, .illustrator_info > .author .foto .star, .illustrator_info .grid > .author .foto .star{
	background: #ffd714;
    transition: all .1s linear;
    font-size: 0;
    color: #ffd714;
    cursor: pointer;
}
.illustrators .slide > .item .author .foto .star:before, .illustrators .grid > .item .author .foto .star:before, .illustrator_info > .author .foto .star:before, .illustrator_info .grid > .author .foto .star:before{
	content: '+';
	font-size: 20px;
	position: absolute;
	top: -1px;
	left: 8px;
	opacity: 1;
	color: white;
}
.illustrators .slide > .item .author .foto:hover .star:before, .illustrators .grid > .item .author .foto:hover .star:before{
	opacity: 0
}
.illustrator_info > .author .foto:hover .star:before, .illustrator_info .grid > .author .foto:hover .star:before{
	content:'Подписаться';
	font-size: 12px;
	position: absolute;
    left: 12px;
    top: 1px;
}
.illustrator_info > .author .foto:hover .star:active:before, .illustrator_info .grid > .author .foto:hover .star:active:before{
	color: #595959;
}
.illustrators .slide > .item .author .foto .star.active, .illustrators .grid > .item .author .foto .star.active, .illustrator_info > .author .foto .star.active, .illustrator_info .grid > .author .foto .star.active{
	background: #ffd714 url(../images/ic_star.png) 50% calc(50% - 1px) no-repeat;
    transition: all .1s linear;
    font-size: 0;
    color: #ffd714;
    cursor: pointer;
}
.illustrators .slide > .item .author .foto .star.active:before, .illustrators .grid > .item .author .foto .star.active:before, .illustrator_info > .author .foto .star.active:before, .illustrator_info .grid > .author .foto .star.active:before{
	opacity: 0
}

.illustrators .slide > .item .author .foto:hover .star.active, .illustrators .grid > .item .author .foto:hover .star.active, .illustrator_info > .author .foto:hover .star.active, .illustrator_info .grid > .author .foto:hover .star.active{
	width: 30px;
	background-color: #dcaf31;
	transition: .2s
}
.illustrators .slide > .item .author .foto:hover .star.active:active, .illustrators .grid > .item .author .foto:hover .star.active:active, .illustrator_info > .author .foto:hover .star.active:active, .illustrator_info .grid > .author .foto:hover .star.active:active{
	color: #595959;
	background-color: white;
	line-height: 24px;
	border: 2px solid #ffd714;
	content: 'Отписаться'
}
.modal-new-markup a{
	color: #ffd714;
	text-decoration: none;
}
#modalNewMarkup1, #modalNewMarkup2{
	padding-bottom: 22px;
}
#modalNewMarkup1 .title{
	max-width: 80%;
    margin: 0 auto;
    position: relative;
    top: 8px;
}
#modalNewMarkup3{
	width: 300px;
	padding: 16px 35px 15px 35px;
}
#modalNewMarkup3 .title a{
	color: white;
}
/*---- size ----*/
p.error___p {
	color:red!important;
	margin-bottom:16px;
}

div.modal p.error___p, div.modal p.modal___error_p {
	font: 300 14px Ubuntu;
	margin-top: 15px;
}

div.modal p.modal___error_p, .modalErrorSizeYellow p.modal___error_p{
	margin-bottom:25px;
	font: 300 14px Ubuntu;
	margin-top: 15px;
	text-transform: uppercase;
	color: #414141;
    text-align: center;
}

.modalErrorSizeYellow{
	border: 2px solid #ffd714;
    width: calc(100% - 100px);
    position: relative;
    top:10px;
}

.modalErrorBoxYellow{
	border: 2px solid #ffd714;
    width: calc(100% - 120px);
    position: relative;
    top:10px;
}
.modalErrorBoxYellow:before, .modalErrorSizeYellow:before{
	content: '';
    border-bottom: none;
    border-top: 10px solid #fff;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right:10px solid rgba(0, 0, 0, 0);
    height: 0;
    left: 50%;
    margin: 0 0 0 -10px;
    position: absolute;
    bottom: -7px;
    width: 0;
    z-index: 1;
}
.modalErrorBoxYellow:after, .modalErrorSizeYellow:after{
	content: '';
	border-bottom: none;
    border-top: 10px solid #ffd714;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    height: 0;
    left: 50%;
    top: auto;
    margin: 0 0 0 -10px;
    position: absolute;
    bottom: -10px;
    width: 0;
}
.modalErrorBoxYellow .modal_colorSizesBlock, .modalErrorSizeYellow .colorSizesBlock{
	justify-content: space-around;
	display: flex;
	margin-left: 0 !important;
}
.modalErrorBoxYellow .modal_size___label, .modalErrorSizeYellow .size___label{
	float: none !important;
    margin-left: 0 !important;
}
div.modal p.modal___error_p a, .modalErrorSizeYellow p.modal___error_p a{
	font: 300 12px Ubuntu;
	text-transform: none;
    position: relative;
    top: 8px;
    color: #b3b3b3;
}
@media screen and (max-width: 479){
	.modalErrorSizeYellow{
	    width: calc(100% - 55px);
	}
}
/*---- end size ----*/
.sortNew-by-category form{
	float: right;
    font: 300 16px/30px Ubuntu;
    color: #878787;
    width: 130px;
    margin-right: 15px;
}
.sortNew-by-category .jq-selectbox__select{
	width: 130px;
	cursor: pointer;
}
.sortNew-by-category .jq-selectbox__dropdown{
	top:-10px;
	left:-17px;
	background: #f4f4f4;
	padding: 10px 14px 10px 17px;
}
.sortNew-by-category .jq-selectbox__trigger{
	position: relative;
	top: -30px;
    right: -15px;
}
.sortNew-by-category .jq-selectbox__trigger:before{
	content: '';
    position: absolute;
    width: 7px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #414141;
    right: 1px;
    top: 16px;
}
.sortNew-by-category .jq-selectbox__trigger:after{
	content: '';
    position: absolute;
    width: 7px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #414141;
    right: 5px;
    top: 16px;
}
.sortNew-by-category .jq-selectbox__dropdown .selected.sel, .sortNew-by-category .jq-selectbox li:hover{
	position: relative;
	padding-right: 15px;
	cursor: pointer;
}
.sortNew-by-category .jq-selectbox__dropdown .selected.sel:after, .sortNew-by-category .jq-selectbox li:hover:after{
    content: '';
    position: absolute;
    width: 5px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #414141;
    right: 5px;
    top: 16px;
}
.sortNew-by-category .jq-selectbox__dropdown .selected.sel:before, .sortNew-by-category .jq-selectbox li:hover:before{
	content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #414141;
    right: 0px;
    top: 15px;
}
.cat_head .limit{
	margin-left: 80px;
}
.owl-carousel .owl-stage-outer{
	max-height: 500px;
}
.main_slider .slide .details{
	bottom: 160px
}
.page_title{
	font: 300 18px Ubuntu;
}
@media screen and (max-width: 1153px){.cat_head .limit{margin-left: 30px}}
@media screen and (max-width: 1120px){.page_title{font: 300 15px Ubuntu;}.cat_head .count, .cat_head .limit, .sortNew-by-category form{font: 300 14px/30px Ubuntu;}.cat_head .limit > div{margin-right: 7px}.jq-selectbox__dropdown ul{width: 130px}
	.sortNew-by-category .jq-selectbox__trigger:before{right: 16px;}
	.sortNew-by-category .jq-selectbox__trigger:after{right: 20px;}
	.cat_head .limit{margin-left: 12px;}
}
@media screen and (max-width: 1023px){.page_title{font: 300 20px Ubuntu;}}
@media screen and (max-width: 815px){.page_title{font: 300 17px Ubuntu;}}
@media screen and (max-width: 815px){.page_title{font: 300 15px Ubuntu;}}
@media screen and (min-width: 568px) and (max-height: 1023px){.filter_submit_block .unset___button, .filter_submit_block .search_unset___button{margin-top: 5px}.filter_submit_block{text-align: right;}}
@media screen and (max-width: 650px){aside .filter .color{max-width: 300px}}
@media screen and (max-width: 450px){aside .filter .color{max-width: 198px; margin-left: -10px;}aside .filter .color .item_wrap{margin-left: 10px;}}




.product_info .size .grid {
	width: 330px!important;
}

.products .product .thumb {
	margin-bottom: 40px;
}

.product_info .related_cats .item.active {
    color: #ffd714;
}


aside .cats ul ul {
	padding-left: 7px!important;
}

aside .cats ul ul a {
	font-size: 14px!important;
}








.drop_block_items{
    width: 100%;
	max-height: 250px;
	overflow-y: scroll;
    padding-right: 20px;
}

.drop_block_title{
    margin-top: 30px;
    border-top: 1px solid #ececec;
    color: #414141;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 14px;
    align-items: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 25px;
	clear: both;
}

.drop_block_items{
	margin-bottom: 30px;
}

.drop_block_items ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.dropped_items{
    padding-left: 23px;
}

.drop_block_items li{
    padding-bottom: 27px;
}

.dropped_items li:last-child{
    padding-bottom: 0;
}

.drop_block_items a{
    color: #414141;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}

.drop_block_items span{
    text-transform: uppercase;
}

.drop_block_items span:nth-child(2):before{
    content: '(';
}

.drop_block_items span:nth-child(2):after{
    content: ')';
}

.dropped_items{
    display: none;
}

.dropped_menu:before{
    content: url("filter-drop.svg");
    padding-right: 5px;
}

.drop_active:before{
    content: url("filter-drop-open.svg");
}

.drop_active .dropped_items{
    display: block;
    padding-top: 27px;
}


.drop_block_items::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width: 3px;
    height: 0;
}

.drop_block_items::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}

.drop_block_items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color:#3d3d3d;
}

.drop_block_items::-webkit-scrollbar-thumb:hover{
    background-color:#3d3d3d;
}

.drop_block_items::-webkit-resizer{
    background-repeat:no-repeat;
    width: 2px;
    height: 0
}

.drop_block_items::-webkit-scrollbar{
    width: 2px;
}







section.advantages div.name a {
	color:#414141;
	text-decoration:none;
}



.old___price {
	text-decoration: line-through;
}