@media (max-width: 479px)
{
    /*---------------
        Main styles
    ---------------*/
    .form .submit_btn
    {
        min-width: 105px;
    }


    .block_title div
    {
        padding: 0 15px;
    }


    .page_title
    {
        font-size: 22px;
    }




    #cart_modal
    {
        top: 25px;
        right: -15px;

        width: 320px;
    }

    #cart_modal:after
    {
        right: 22px;
    }

    #cart_modal:before
    {
        right: 15px;
    }



    /*---------------
        Sidebar
    ---------------*/
    aside .filter .added div
    {
        width: 100%;
        margin: 0;
    }

    aside .filter .added .link
    {
        width: 100%;
        margin-top: 15px;
    }



    /*---------------
        Main section
    ---------------*/
    .promo_banners .grid
    {
        margin-left: -10px;
    }

    .promo_banners .item_wrap
    {
        margin-bottom: 10px;
    }

    .promo_banners .item
    {
        width: calc(100% - 10px);
        margin-left: 10px;
    }



    .collections .grid
    {
        padding-right: 15px;
    }



    .illustrators .slide > .item
    {
        margin: 10px;
    }


    .illustrators .slide > .item .prints
    {
        text-align: left;
    }
    .illustrators .slide > .item .comments
    {
        text-align: right;
    }


    .illustrators .slide > .item .author .foto
    {
        top: -56px;

        width: 73px;
        height: 73px;
        margin-left: -36px;
    }



    .widgets
    {
        display: none;
    }



    .articles .item .name a
    {
        font-size: 14px;
        line-height: 20px;
    }



    .cart_page table td.image
    {
        width: 40%;
        padding: 15px 0;
    }

    .cart_page table td
    {
        width: 60%;
    }


    .cart_info .promo_code .discount
    {
        margin-left: 0;
    }


    .cart_info .cart_total,
    .cart_info .promo_code
    {
        padding-bottom: 0;
    }


    .checkout_links a
    {
        width: 140px;
        padding: 0 15px;
    }



    .catalog_banner .info
    {
        width: 100%;
    }

    .catalog_banner
    {
        background-image: none !important;
    }



    .products .product .thumb a,
    .category_info .products .grid.four .product .thumb a
    {
        height: 140px;
    }

    .products .product .sticker
    {
        left: 0;
    }

    .products .product .name a
    {
        font-size: 13px;
    }



    .cat_head
    {
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .cat_head .page_title
    {
        width: 100%;
    }



    .checkout_info .form .payment_methods input[type=radio] + label
    {
        font-size: 14px;
    }


    .favorites_links > .right
    {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
    }



    .page_menu
    {
        margin-bottom: 30px;
    }

    .page_menu a
    {
        line-height: 40px;

        width: 100%;
        height: 40px;

        text-align: center;
    }



    .product_info .prod_name
    {
        font-size: 20px;
        line-height: 26px;
    }

    .product_info .buy
    {
        width: calc(100% - 55px);
    }



    .comments .item.children
    {
        margin-left: 0;
        padding: 15px;
    }


    .comments .item.admin
    {
        padding: 13px;
    }



    .hor_scroll
    {
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding-left: 15px;
    }



    .tabs li a
    {
        font-size: 13px;
    }



    .vacancies .item
    {
        width: calc(100% - 15px);
    }



    .illustrator_info .author
    {
        font-size: 20px;
    }

    .illustrator_info .author .foto
    {
        width: 93px;
    }

    .illustrator_info .author .city
    {
        font-size: 16px;
    }



    .illustrator_info .prints,
    .illustrator_info .likes
    {
        margin-right: 0;
    }

    .illustrator_info .subscribe_link
    {
        padding: 0 20px;
    }


    .vacancies .archive a,
    .articles .archive a,
    .vacancies .archive .sep,
    .articles .archive .sep
    {
        margin-left: 10px;
    }



    .text_block table td,
    .text_block table th
    {
        padding: 15px 20px;
    }



    .configurator
    {
        padding-bottom: 15px;
    }

    .configurator .steps
    {
        display: none;
    }

    .configurator .type label
    {
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .configurator .type_content label
    {
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }

    .configurator .next_link
    {
        margin-top: 40px;
    }



    /*---------------
        Footer
    ---------------*/



    /*---------------
        PopUp
    ---------------*/
    .modal
    {
        padding: 20px;
    }


    .modal .soc_auth
    {
        width: calc(100% + 40px);
        margin: 20px -20px 0;
        padding: 20px 20px 0;
    }
}
