@media (max-width: 1199px)
{
    /*---------------
        Main styles
    ---------------*/


    /*---------------
        Sidebar
    ---------------*/



    /*---------------
        Main section
    ---------------*/
    .advantages .grid
    {
        width: calc(100% + 40px);
        margin: 0 -20px;
    }

    .advantages .item
    {
        font-size: 13px;

        padding: 0 20px;
    }


    .illustrators .slider
    {
        width: calc(100% - 30px);
        margin: 0 15px;
    }


    .widgets .friends
    {
        padding: 30px 15px 15px;
    }

    .widgets .instagram .info
    {
        padding: 30px 15px;
    }


    .franchise img
    {
        margin-left: 40px;
    }

    .franchise .col.right
    {
        width: calc(50% - 55px);
        padding-right: 40px;
    }



    .text_block blockquote,
    .text_block .message
    {
        width: calc(100% - 40px);
        margin-left: 40px;
    }



    .cart_info .content,
    .checkout_info .content
    {
        width: calc(100% - 300px);
    }

    .cart_info table td
    {
        padding: 30px 20px;
    }



    .products .product .thumb a
    {
        height: 215px;
    }


    .product_info .images .big .slide iframe
    {
        height: 378px;
    }


    .product_info .color .grid,
    .product_info .size .grid
    {
        width: 100%;
    }


    .products .slider
    {
        padding: 0 30px;
    }

    .products .owl-carousel .owl-nav .owl-prev
    {
        left: -20px;
    }

    .products .owl-carousel .owl-nav .owl-next
    {
        right: -20px;
    }


    .category_info .products .grid.four .item_wrap
    {
        width: 33.333%;
    }



    .shops .cities
    {
        left: 49px;
    }



    .configurator .data
    {
        padding: 0;
    }



    /*---------------
        Footer
    ---------------*/
    footer .subscribe form .input
    {
        width: 190px;
    }



    /*---------------
        PopUp
    ---------------*/
}
