@media (max-width: 767px)
{
    /*---------------
        Main styles
    ---------------*/
    .block_title
    {
        font-size: 22px;

        margin-bottom: 20px;
    }



    .form .lines .line
    {
        width: 100%;
    }

    .form .exp
    {
        min-height: 0;
        padding: 0;
    }



    .tooltip .text
    {
        z-index: 1000;
        top: 100%;
        left: 50%;

        margin-top: 10px;
        margin-left: -25px;

        transform: translateX(-50%);
    }

    .tooltip .text:before
    {
        top: -6px;
        left: 50%;

        margin-top: 0;
        margin-left: 20px;
    }

    .tooltip .text:after
    {
        width: 100%;
        height: 10px;
    }




    /*---------------
        Sidebar
    ---------------*/

    aside .filter .data
    {
        width: calc(200% + 30px);
    }

    aside .filter .item:nth-child(2n) .data
    {
        margin-left: calc(-100% - 30px);
    }


    aside .filter .line + .line
    {
        margin-top: 9px;
    }



    aside .cart .product
    {
        padding: 15px 15px 15px 58px;
    }

    aside .cart .product:before
    {
        top: 15px;
    }


    aside .cart .totals .item
    {
        padding: 15px 0;
    }



    /*---------------
        Main section
    ---------------*/
    .main_slider
    {
        margin-bottom: 15px;
    }

    .main_slider .owl-dots
    {
        bottom: 15px;

        height: 10px;
    }

    .main_slider .owl-dot
    {
        width: 10px;
        height: 10px;
    }

    .main_slider .slide img
    {
        width: 150%;
        margin: 0 -25%;
    }


    /* .promo_banners
    {
        margin: 0 -15px 15px;
    } */



    .collections .grid
    {
        width: 753px;
    }



    .widgets .grid
    {
        margin-left: -15px;
    }

    .widgets .item
    {
        width: calc(100% - 15px);
        margin-left: 15px;
    }


    .widgets .friends
    {
        padding: 20px 15px 15px;
    }

    .widgets .friends .title
    {
        font-size: 20px;
        line-height: 26px;

        margin-bottom: 20px;
        padding-top: 60px;

        background-size: auto 50px;
    }

    .widgets .friends .fotos
    {
        margin-bottom: 15px;
    }

    .widgets .friends .fotos img
    {
        margin: 0 4px;
    }


    .widgets .friends .discount,
    .widgets .friends .vk_like_link
    {
        margin-top: 10px;
    }


    .widgets .instagram .title
    {
        padding: 21px 15px;

        text-align: center;
    }

    .widgets .instagram .info
    {
        padding: 30px 15px 15px;
    }


    .widgets .competition
    {
        height: 250px;
    }



    .franchise img
    {
        width: 100%;
    }


    .franchise .col.right
    {
        position: relative;
        z-index: 9;

        width: 100%;
        margin-top: -45px;
    }

    .franchise .shops,
    .franchise .order_link
    {
        margin: 20px auto 0;
    }



    .articles .grid
    {
        margin-left: -15px;
    }

    .articles .item_wrap
    {
        width: 50%;
    }

    .articles .item
    {
        margin-left: 15px;
    }

    .articles .item .name a
    {
        line-height: 22px;
    }

    .articles .item .date
    {
        margin-bottom: 0;
    }

    .articles .item_wrap:nth-last-child(2),
    .articles .item .desc
    {
        display: none;
    }



    .text_block h1
    {
        font: 22px Ubuntu;

        margin-bottom: 15px;
    }

    .text_block h2
    {
        font: 20px Ubuntu;
    }

    .text_block h3
    {
        font: 16px Ubuntu;
    }

    .text_block h4
    {
        font: 14px Ubuntu;
    }


    .text_block blockquote,
    .text_block .message
    {
        width: 100%;
        margin: 30px 0;
    }



    .checkout_steps
    {
        display: none;
    }

    .checkout_info .form .delivery .line + .line
    {
        margin-top: 10px;
    }


    .cart_page table thead
    {
        display: none;
    }

    .cart_page table tr
    {
        position: relative;

        display: block;
        overflow: hidden;

        width: 100%;

        border-bottom: 1px solid #e1e1e1;
    }

    .cart_page table tr:first-child
    {
        border-top: 1px solid #e1e1e1;
    }

    .cart_page table td,
    .cart_page table td.image
    {
        position: relative;

        display: block;

        width: 50%;
        padding: 15px;

        border: none;
    }

    .cart_page table .basket__delete_title{
        display: inline-block;
        margin-left: 20px;
    }

    .basket___delete{
        display: inline-block !important;
        width: 18px !important;
        height: 18px !important;
        background-position: 55% 61% !important;
    }

    .basket__delete_td{
        margin-bottom: 30px;
    }


    .cart_page table td.size,
    .cart_page table td.price,
    .cart_page table td.amount
    {
        line-height: normal;
        width: 100%;

        padding-top: 20px;
    }

    .

    .cart_page table td.price
    {
        clear: both;
    }

    .cart_page table td:before
    {
        color: #bababa;
        font: 11px/13px Ubuntu;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;
        padding: 0 15px;

        content: attr(data-column);
        text-align: left;
        letter-spacing: 0;
        text-transform: uppercase;
    }



    .cart_page .promo_code
    {
        width: 100%;
    }


    .cart_page .cart_total
    {
        line-height: 30px;

        width: 100%;
        margin-top: 0;
    }

    .cart_page .cart_total .price
    {
        line-height: 30px;
    }



    .catalog_banner
    {
        background: #f9f0ee;
    }

    .catalog_banner .info
    {
        right: auto;
        left: 0;

        width: 250px;
    }



    .sub_cats_block .grid
    {
        width: 800px;
        padding-right: 15px;
    }



    .products .item_wrap,
    .category_info .products .item_wrap
    {
        width: 50%;
    }



    .cat_head .count,
    .cat_head .limit
    {
        display: none;
        margin-bottom: 15px;
    }



    .checkout_info .form .lines .line
    {
        width: 100%;
    }

    .checkout_info .form .delivery_methods input[type=radio] + label
    {
        line-height: 20px;

        padding: 15px 15px 15px 48px;
    }

    .checkout_info .form .delivery_methods input[type=radio] + label .desc
    {
        margin-top: 10px;
    }

    .checkout_info .form .delivery_methods input[type=radio] + label:before
    {
        top: 15px;
        left: 15px;
    }

    .checkout_info .form .delivery_methods input[type=radio] + label:after
    {
        top: 21px;
        left: 21px;
    }



    .contacts_info .info .item_wrap,
    .delivery_info .grid .item_wrap
    {
        width: 100%;
    }



    .product_info .images,
    .product_info .data
    {
        width: 100%;
    }

    .product_info .data.left
    {
        margin-left: 0;
        position: relative;
    }

    .product_info .images .big .slide iframe
    {
        height: 250px;
    }

    .product_info .images .thumbs
    {
        display: none;
    }


    .product_info .author,
    .product_info .share,
    .product_info .comments_link,
    .product_info .also,
    .product_info .accordion,
    .product_info .related_cats
    {
        float: none;

        width: 100%;
    }

    .product_info .share
    {
        width: 275px;
    }



    .products .slider.carousel2
    {
        padding-top: 0;
    }


    .lk_orders .table-responsive
    {
        overflow: auto;

        width: 100%;
    }



    .comments .item .info
    {
        line-height: 20px;

        width: calc(100% - 90px);
    }


    .comments .item.children
    {
        margin-left: 90px;
        padding: 20px 25px;
    }


    .comments .item.admin
    {
        padding: 18px 23px;
    }



    .category_info .products .grid.four .item_wrap
    {
        width: 50%;
    }



    .vacancies .grid
    {
        margin-left: -15px;
        padding-bottom: 0;
    }

    .vacancies .item
    {
        width: calc(50% - 15px);
        margin-left: 15px;
    }



    .illustrator_info .stats
    {
        width: 100%;
        margin-top: 20px;
    }



    .shops .cities
    {
        position: relative;
        top: 0;
        left: 0;

        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
        padding: 0;
    }

    .shops #map
    {
        height: 320px;
    }



    .text_block table
    {
        width: 768px;
    }



    .configurator .noty
    {
        width: 100%;
        margin: 15px 0 0 0;
    }



    /*---------------
        Footer
    ---------------*/
    footer .subscribe
    {
        display: none;
    }


    footer .info .title a
    {
        font-size: 16px;
    }


    footer .links
    {
        width: 100%;
    }

    footer .links ul
    {
        display: none;
    }


    footer .contacts
    {
        width: 100%;
        padding-top: 10px;
    }


    footer .logo
    {
        width: 100%;

        order: 1;
    }

    footer .logo img
    {
        margin: 0 auto;
    }


    footer .copyright
    {
        width: 100%;
        padding-top: 15px;

        text-align: center;

        order: 2;
    }


    footer .payments
    {
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;

        text-align: center;

        border-top: 1px solid #a0a0a0;

        order: 3;
        justify-content: center;
    }

    .products .product .favorite_del{
        top: -25px;
    }



    /*---------------
        PopUp
    ---------------*/
}
