
.admin___table {
	border-collapse:collapse;
}

.admin___table th{
	font-size: 14px;
}

.admin___table th, .admin___table td {
	border: 1px solid #bdbdbd;
	padding:12px;
	text-align: left;
}

.admin___table .value_th {
	text-align: center;
}

.admin___table .value_td {
	text-align: center;
}

.admin___table .value_td input {
	width: 230px;
	text-align:center;
}

.admin___table .tokensSaveButton {
	float:right;
}